<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="Membership" connectionString="Data Source=alph-r01-s-db02;Database=DataAggregator;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DataAggregatorContext" connectionString="Server=alph-r01-s-db02;Database=DataAggregator;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DrugClassifierContext" connectionString="Server=alph-r01-s-db02;Database=DrugClassifier;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="RetailContext" connectionString="Server=alph-r01-s-db02;Database=RetailData;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GovernmentPurchasesContext" connectionString="Persist Security Info=true;Server=alph-r01-s-db02;Database=GovernmentPurchases;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GovernmentPurchasesLoaderContext" connectionString="Server=alph-r01-s-db02;Database=GovernmentPurchasesLoader;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="QlikExportContext" connectionString="Server=alph-r01-s-db02;Database=QlikExport;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GoodsDataContext" connectionString="Server=s-sql6;Database=GoodsData;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GSContext" connectionString="Server=alph-r01-s-db02;Database=GS;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="OFDContext" connectionString="Server=alph-r01-s-db02;Database=OFD_data;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DataReportContext" connectionString="Server=alph-r01-s-db02;Database=DataReport;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DistrContext" connectionString="Server=s-sql2;Database=Distr;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="RetailCalculationContext" connectionString="Server=alph-r01-s-db02;Database=RetailCalculation;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="EcomContext" connectionString="Server=alph-r01-s-db02;Database=Ecom;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="AlphaVisionContext" connectionString="Server=s-sql2;Database=AlphaVision;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="FIASContext" connectionString="Server=s-sql2;Database=FIAS;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <compilation xdt:Transform="Replace" debug="true" targetFramework="4.6.1"/>
  </system.web>

</configuration>