<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="Membership" connectionString="Server=10.30.10.59;Database=DataAggregator;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DataAggregatorContext" connectionString="Server=10.30.10.59;Database=DataAggregator;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DrugClassifierContext" connectionString="Server=10.30.10.59;Database=DrugClassifier_test;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="RetailContext" connectionString="Server=10.30.10.59;Database=RetailData;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GovernmentPurchasesContext" connectionString="Server=10.30.10.59;Database=GovernmentPurchases;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GovernmentPurchasesLoaderContext" connectionString="Server=10.30.10.59;Database=GovernmentPurchasesLoader;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="QlikExportContext" connectionString="Server=10.30.10.59;Database=QlikExport;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GoodsDataContext" connectionString="Server=s-sql6;Database=GoodsData;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GSContext" connectionString="Server=10.30.10.59;Database=GS;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="OFDContext" connectionString="Server=10.30.10.59;Database=OFD_data;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DataReportContext" connectionString="Server=10.30.10.59;Database=DataReport;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DistrContext" connectionString="Server=s-sql2;Database=Distr;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="RetailCalculationContext" connectionString="Server=10.30.10.59;Database=RetailCalculation;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="EcomContext" connectionString="Server=10.30.10.59;Database=Ecom;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="AlphaVisionContext" connectionString="Server=s-sql2;Database=AlphaVision;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="FIASContext" connectionString="Server=s-sql2;Database=FIAS;User ID=WebClient;Password=siyanH_02;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <compilation xdt:Transform="Replace" debug="true" targetFramework="4.6.1"/>
  </system.web>
</configuration>