<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="Membership" connectionString="Data Source=s-sql1;Database=DataAggregator;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DataAggregatorContext" connectionString="Server=s-sql1;Database=DataAggregator;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DrugClassifierContext" connectionString="Server=s-sql1;Database=DrugClassifier;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="RetailContext" connectionString="Server=s-sql3;Database=RetailData;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GovernmentPurchasesContext" connectionString="Persist Security Info=true;Server=s-sql1;Database=GovernmentPurchases;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GovernmentPurchasesLoaderContext" connectionString="Persist Security Info=true;Server=s-sql1;Database=GovernmentPurchasesLoader;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="QlikExportContext" connectionString="Server=s-sql2;Database=QlikExport;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GoodsDataContext" connectionString="Server=s-sql6;Database=GoodsData;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="GSContext" connectionString="Server=s-sql2;Database=GS;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="OFDContext" connectionString="Server=s-sql4;Database=OFD_data;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DataReportContext" connectionString="Server=s-sql1;Database=DataReport;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

