<div ng-controller="AddingDOPMonitoringDatabaseController" cg-busy="{promise:dataLoading, message:message}" ng-init="AddingDOPMonitoringDatabase_Init();" ng-cloak class="auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">

    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
            <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="col-md-6">
                    <button type="button" class="btn btn-info btn-sm" aria-pressed="true" ng-disabled="!hideGridDOPMonitoringDatabase" ng-click="DOPMonitoringDatabase_Refresh()">Классификаторы</button>
                    <button type="button" class="btn btn-info btn-sm" aria-pressed="true" ng-disabled="!hideGridDBlocking" ng-click="GridBlocking_Refresh()">Блокировки</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="RefreshTables();"><span class="glyphicon glyphicon-refresh"> Обновить</span> </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col-md-4">
            <select class="form-control" required
                    ng-options="category as category.Id + '. ' + category.Name group by category.GoodsSection.Name for category in goodsCategoryList track by category.Id"
                    ng-model="goodsCategory" ng-change="getParameterGroups()">
                <option value="" disabled selected hidden>Выберите категорию...</option>
            </select>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="" ng-disabled="goodsCategory == null" data-translate="BUTTONS.SET_PLUG_ON"></button>
            <button type="button" class="btn btn-danger" ng-click="" ng-disabled="goodsCategory == null" data-translate="BUTTONS.SET_PLUG_OFF"></button>
        </div>

    </div>

    <div class="row" style="height: calc(30%)">
        <div class="col-md-4" style="height: 100%">
            <ui-grid-control options="gridParameterGroup.Options" class="ui-grid-header-wrap-text"></ui-grid-control>
        </div>

        <div class="col-md-4" style="height: 100%">
            <ui-grid-control options="gridParameterLevel1.Options" class="ui-grid-header-wrap-text"></ui-grid-control>
        </div>

        <div class="col-md-4">
            <div class="row">
                <button type="button" class="btn btn-primary" ng-click="" ng-disabled="selectedParameterLevel1 == null" data-translate="BUTTONS.SET_PLUG_ON"></button>
            </div>
            <br />
            <div class="row">
                <button type="button" class="btn btn-danger" ng-click="" ng-disabled="selectedParameterLevel1 == null" data-translate="BUTTONS.SET_PLUG_OFF"></button>
            </div>
        </div>
    </div>

    <br />

    <div id="grid-block" ng-hide="hideGridDOPMonitoringDatabase" class="auto-item-panel" style="height: calc(55%)">
        <ui-grid-control options="GridDOPMonitoringDatabase.Options" class="ui-grid-enable-content-selection grid-block grid-block_md"></ui-grid-control>
    </div>
    <div id="grid-block2" ng-hide="hideGridDBlocking" class="auto-item-panel" style="height: calc(55%)">
        <ui-grid-control options="GridDBlocking.Options" class="ui-grid-enable-content-selection grid-block grid-block_md"></ui-grid-control>
    </div>

</div>
