<div class="modal-header">
    <h3 class="modal-title">Изменение типа организации</h3>
</div>
<div class="modal-body">
    <div class="container-fluid" style="height: 400px;">
        <ui-grid-control options="organizationTypeGrid.Options" class="ui-grid-enable-content-selection"></ui-grid-control>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="selectedRows === 'undefined' || selectedRows.length === 0" data-translate="BUTTONS.OK"></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" data-translate="BUTTONS.CANCEL"></button>
    </div>
</div>

