<div class="panel panel-primary context-menu" style=" min-width:300px;">
    <div class="panel-heading">
        <h3 class="panel-title">Действия: <span class="badge">{{CheckReloadFile_Grid.selectedRows().length}}</span></h3>
    </div>
    <div class="panel-body">
        <div class="row padding1">
            <div class="col-md-4 padding1">
               ОФД для валидации:
            </div>
            <div class="col-md-8 padding1">
                

                <div class="input-group ">

                    <div class="btn-group" ng-repeat="item in  OFDAPIList track by $index">
                        <button type="button" class="btn {{ColorButton[$index % 5]}} btn-sm" style="margin:2px;" ng-click="SetCheckReloadOFD(item.Id)"><b>{{ item.Name }}</b></button>

                    </div>
                </div>
                     
            </div>
         </div>
              


     </div>
</div>
