<div ng-controller="DistrRepController" cg-busy="dataLoading" ng-init="CompanyPeriod_Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">

    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading padding1">
            <div class="row">
                <div class="col-md-2 padding3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success btn-sm " ng-click="CompanyPeriodSearch();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                        <button type="button" class="btn btn-warning btn-sm" ng-disabled="!Grid_CompanyPeriod.NeedSave" ng-click="CompanyPeriod_Save();"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                    </div>
                </div>
                <div class="col-md-3 padding3">

                </div>
            </div>
        </div>
    </div>

    <div id="grid-block" class="auto-item-panel">
        <ui-grid-control options="Grid_CompanyPeriod.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>
</div>
