<div class="modal-header">
    <p class="modal-title">Дополнительная информация</p>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="save();"> <span class="glyphicon glyphicon-random"> Отправить на перепривязку</span> </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" data-translate="BUTTONS.CANCEL"></button>
</div>