<div ng-controller="EtalonPriceController" cg-busy="loading" ng-cloak class="auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">
    <style>
        .initialdata {
            background-color: #a5a2c9;
        }

        .contractdata {
            background-color: rgba(255, 242, 204, 1.0);
        }

        .ofddata {
            background-color: #e7a9b5;
        }

        .sellin {
            background-color: rgba(180, 198, 231, 1.0);
        }

        .downloadeddata {
            background-color: #d2ddb0;
        }

        .sumdata {
            background-color: #169;
        }

        .number {
            background-color: #fbf4e9;
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .price_selected {
            border-radius: 10px;
            border: 0.2em solid #d43f3a;
        }
    </style>
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <date-period period="filter.date" ng-required="true"></date-period>
                </div>
                <div class="col-md-1">
                    <label>% отклонения</label>
                    <select name="devPercent" required style="width:100px" class="form-control" ng-options="item as item for item in devPercents track by item"
                            ng-model="filter.devPercent"> </select>
                </div>
                <div class="col-md-2">
                    <label>Разница</label>
                    <select name="priceDiffDirection" style="width:150px" class="form-control" ng-options="item.value as item.name for item in priceDiffDirections"
                            ng-model="filter.priceDiffDirection"> </select>
                </div>
                <div class="col-md-3">
                    <label>Поиск</label>
                    <input name="filtercommon" class="form-control" type="text" ng-model="filter.searchText" placeholder="Поиск">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-sm" ng-disabled="filter.date == null || Grid.NeedSave" ng-click="getList();"><span class="glyphicon glyphicon-search"> Выбрать</span></button>
                    <button type="button" class="btn btn-info btn-sm" ng-click="saveStatuses();" ng-disabled="!Grid.NeedSave"> <span class="glyphicon glyphicon-save"> Сохранить</span> </button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="reCalc();"> <span class="glyphicon glyphicon-flash"> Загрузить</span> </button>
                    <button type="button" style="float:right" class="btn btn-primary btn-sm" ng-click="transfer();"> <span class="glyphicon glyphicon-paste"> Перенести цены</span> </button>
                </div>
            </div>
        </div>
    </div>

    <div id="grid-block" class="auto-item-panel" data-context-menu="Views/OFD/EtalonPrice/Actions_context_menu.html">
        <ui-grid-control options="Grid.Options" class="ui-grid-enable-content-selection grid-block grid-block_md"></ui-grid-control>
    </div>
</div>