<div ng-controller="FederalBenefitController" cg-busy="FederalBenefitLoading" ng-cloak class="auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">

    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <button class="btn btn-primary" ng-click="ChangeData()">{{ShowAll ? 'Показать ФЛ' : 'Показать всё'}}</button>
                        <button class="btn btn-primary" ng-click="Refresh()" data-translate="BUTTONS.UPDATE"></button>
                        <button class="btn btn-danger" ng-click="openPeriod()">Изменить периоды</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="auto-item-panel">
        <ui-grid-control options="gridOptions" class="ui-grid-enable-content-selection"></ui-grid-control>
    </div>
</div>