.period-settings-grid {
    .ui-grid-top-panel {
        height: 65px !important;
    }

    .ui-grid-cell-contents {
        margin-bottom: 0 !important;
    }

    .smallHeader {
        font-size: x-small;
        word-wrap: break-word;
    }

    .greenColor {
        color: green;
    }

    .lightGreenColor {
        color: lightseagreen;
    }
}