
#classifier-grid-block .yellow {
    background: #ffff66 !important;
}

#drug-grid-block .green {
    background: rgb(204, 255, 204) !important;
}

#drug-grid-block .green.selected {
    background: darkseagreen !important;
}

#drug-grid-block .ui-grid-row,
#drug-grid-block .ui-grid-cell {
height: 20px;
font-size: 14px;
line-height: 10px;
}


#classifier-grid-block .ui-grid-row,
#classifier-grid-block .ui-grid-cell {
height: 20px;
font-size: 14px;
line-height: 10px;
}

#search-filter-line {
    margin: 0;
    padding: 3px 5px;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #264283;
}

#drug-grid-block table,
#classifier-grid-block table {
    width: 100%;
}

#drug-grid-block thead,
#classifier-grid-block thead {
    background-color: #337ab7;
    color: #ffffff;
}

#drug-grid-block td,
#drug-grid-block th,
#classifier-grid-block td,
#classifier-grid-block th {
    border: 1px solid #ccddff;
}

#drug-grid-block th,
#drug-grid-block td,
#classifier-grid-block th,
#classifier-grid-block td {
    /*Исправлен баг не позволяющий выделять 1 символ в ячейке*/
    padding-left: 5px !important;
}

#drug-grid-block td,
#classifier-grid-block td {
    /*В гриде все записи в 1 строчку*/
    white-space: nowrap;
}


.systematization-systematization {

    textarea.form-control {
        height: 25px;
        padding: 2px;
    }

    .multi-select-control {
        .form-control {
            height: 25px;
        }

        .btn {
            padding-top: 1px;
            padding-bottom: 2px;
        }
    }

    .datetime {
        .form-control {
            height: 25px;
        }

        .btn {
            padding-top: 1px;
            padding-bottom: 2px;
        }
    }
}

.well {
    margin-top: 10px;
    margin-bottom: 10px;
}

.has-error {
    border-color: red !important;
}