/.vs/
/packages/
/DataAggregator.Core/bin/
/DataAggregator.Core/obj/
/DataAggregator.Domain/bin/
/DataAggregator.Domain/obj/
/DataAggregator.Web/bin/
/DataAggregator.Web/obj/
/DataAggregator.Web/DataAggregator.Web.csproj.user
/DataAggregator.Web/Web.config
