@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
</head>
<body>
    <h2>Ресурс не найден.</h2>

    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName<br />
                <b>Exception:</b> @Model.Exception.Message
            </p>
        </div>
    }
    <img src="https://www.freeiconspng.com/uploads/error-icon-13.png" width="250"/>
</body>
</html>
