@{
    Layout = null;
    ViewBag.Title = "Error 401";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <h1>Error</h1>
    <h2>У вас нет доступа к данному режиму.</h2>        

    <div>
        <p>
            <b>StatusCode:</b> @ViewBag.StatusCode <br />
            <b>Requested path:</b> @ViewBag.Path <br />
            <b>Description:</b> @ViewBag.Description <br />
        </p>
    </div>    

</body>
</html>
