<div ng-controller="GoodsCountRuleEditorController" cg-busy="loading" ng-cloak class="count-rule-editor auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">

    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <div class="col-md-12 no-padding">
                        <div class="col-md-2">
                            <date-period period="filter.date" ng-required="true" ng-disabled="editMode"></date-period>
                        </div>
                        <div class="col-md-2">
                            <label data-translate="RETAIL.COUNT_RULE_EDITOR.ACTUALITY_TYPE"></label>
                            <select class="form-control" ng-options="item as item.Name for item in actualityTypeList track by item.Id" ng-model="filter.actualityType" ng-disabled="editMode"></select>
                        </div>
                        <div class="col-md-2">
                            <label data-translate="RETAIL.COUNT_RULE_EDITOR.RULE"></label>
                            <input type="text" class="form-control" ng-model="rule.Id" disabled>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <input type="checkbox" ng-model="rule.RegionRus" ng-change="regionRusChanged()" ng-disabled="!editMode" /> {{ "COUNTRIES.RUSSIA" | translate}}
                            </div>
                            <div>
                                <input type="checkbox" ng-model="rule.RegionMsk" ng-change="regionMskChanged()" ng-disabled="!editMode" /> {{ "CITIES.MOSCOW" | translate}}
                            </div>
                            <div>
                                <input type="checkbox" ng-model="rule.RegionSpb" ng-change="regionSpbChanged()" ng-disabled="!editMode" /> {{ "CITIES.SAINT_PETERSBURG" | translate}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label data-translate="REGION"></label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="regionDisplayValue"
                                   ng-change="regionChanged()"
                                   uib-typeahead="data.Region for data in searchRegion($viewValue)"
                                   typeahead-on-select="regionChanged($item)"
                                   typeahead-select-on-exact="true"
                                   ng-disabled="!editMode"
                                   placeholder="{{ 'REGION' | translate }}">
                        </div>

                        
                        <div class="col-md-2">
                            <label data-translate="RETAIL.COUNT_RULE_EDITOR.SELLING_PERCENT"></label>
                            <input type="text" class="form-control" ng-model="rule.SellingSumPart" valid-number ng-disabled="!editMode">
                        </div>

                    </div>
                    <div class="col-md-5">
                        <label data-translate="RETAIL.COUNT_RULE_EDITOR.SOURCE"></label>
                        <div class="input-group">
                            <input type="text"
                                   class="form-control"
                                   readonly
                                   ng-model="rule.FullGoodsDescription"
                                   placeholder="{{ 'RETAIL.COUNT_RULE_EDITOR.SOURCE_DESCRIPTION' | translate }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchGoods(false)" ng-disabled="!editMode">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label data-translate="RETAIL.COUNT_RULE_EDITOR.DESTINATION"></label>
                        <div class="input-group">
                            <input class="form-control"
                                   type="text"
                                   readonly
                                   ng-model="rule.DistributionFullGoodsDescription"
                                   placeholder="{{ 'RETAIL.COUNT_RULE_EDITOR.DESTINATION_DESCRIPTION' | translate }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="searchGoods(true)" ng-disabled="!editMode">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <label data-translate="RETAIL.COUNT_RULE_EDITOR.TOP_COUNT_FROM"></label>
                        <input type="text" class="form-control" ng-model="rule.TopCountFrom" valid-number ng-disabled="!editMode">
                    </div>

                    <div class="col-md-1">
                        <label data-translate="RETAIL.COUNT_RULE_EDITOR.TOP_COUNT_TO"></label>
                        <input type="text" class="form-control" ng-model="rule.TopCountTo" valid-number ng-disabled="!editMode">
                    </div>

                </div>

                <div class="col-md-3">
                    <br />
                    <div>
                        <button class="btn btn-primary" ng-disabled="!canCreate()" ng-click="createItem()" data-translate="BUTTONS.CREATE"></button>
                        <button class="btn btn-primary" ng-disabled="!canEdit()" ng-click="editItem()" data-translate="BUTTONS.EDIT"></button>
                        <button class="btn btn-primary" ng-disabled="!canSave()" ng-click="saveItem()" data-translate="BUTTONS.SAVE"></button>
                        <button class="btn btn-primary" ng-disabled="!canCancel()" ng-click="cancelEditing()" data-translate="BUTTONS.CANCEL"></button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary" ng-disabled="!canTransfer()" ng-click="transferItem()" data-translate="BUTTONS.TRANSFER"></button>
                        <button class="btn btn-primary" ng-disabled="!canClearFields()" ng-click="clearFields()" data-translate="BUTTONS.CLEAR_FIELDS"></button>
                        <button class="btn btn-danger btn-delete-field" ng-disabled="!canDelete()" ng-click="deleteItem()" data-translate="BUTTONS.DELETE"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="auto-item-panel" ng-class="{'disabled': editMode}">
        <ui-grid-control options="countRuleEditorGrid.options" class="ui-grid-header-wrap-text"></ui-grid-control>
    </div>

</div>

