.Red {
    background-color: red;
}

.Yellow {
    background-color: yellow;
}

.Green {
    background-color: green;
}

.LightCyan {
    background-color: lightcyan;
}

.PapayaWhip {
    background-color: papayawhip;
}

.PeachPuff {
    background-color: peachpuff;
}

.PaleGoldenrod {
    background-color: palegoldenrod;
}

.NavajoWhite {
    background-color: navajowhite;
}
