<div ng-controller="ClassifierReleaseController" cg-busy="loading" ng-cloak>
    <div class="container-fluid">
        <job job-Title="Обновление Классификатора" job-Server="s-sql1" job-Name="DrugClassifier_Full_Create"></job>
        <job job-Title="DrugClassifier_CreateStableJob" job-Server="s-sql1" job-Name="DrugClassifier_CreateStableJob"></job>
        <job job-Title="DrugClassifier_CreateGoodsStableJob" job-Server="s-sql1" job-Name="DrugClassifier_CreateGoodsStableJob"></job>

        <!--<div class="panel panel-default">
        <div class="panel-heading">
            Выпустить классификатор
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <button style="width: 100%" class="btn btn-primary" type="button" ng-click=" CreateStableJobInfo()">
                        Управление
                    </button>
                </div>
                <div class="col-md-2">
                    <label>{{CreateStableJobInfoStatus}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Выпустить классификатор доп ассортимента
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <button style="width: 100%" class="btn btn-primary" type="button" ng-click=" CreateGoodsStableJobInfo()">
                        Управление
                    </button>
                </div>
                <div class="col-md-2">
                    <label>{{CreateGoodsStableJobInfoStatus}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Загрузить дополнительный ассортимент на обработку
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <button style="width: 100%" class="btn btn-primary" type="button" ng-click=" LoadGoodsJobInfo()">
                        Управление
                    </button>
                </div>
                <div class="col-md-2">
                    <label>{{LoadGoodsJobInfoStatus}}</label>
                </div>
            </div>
        </div>
    </div>-->
    </div>
</div>
