<div ng-controller="CertificateController" cg-busy="dataLoading" ng-init="MnfWay_Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading padding1">
            <div class="row">
                <div class="col-md-2 padding3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-success btn-sm" ng-click="MnfWay_search();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                        <button class="btn btn-warning btn-sm" ng-click="MnfWay_save();" ng-disabled="!Grid_MnfWay.NeedSave"><span class="glyphicon glyphicon-save">Сохранить</span></button>
                    </div>
                </div>
                <div class="col-md-2 padding3">
                    <label>
                        <input name="filtercommon" type="checkbox" class="" ng-model="IsEmpty" ng-change="">Не проставленные
                    </label>
                    <label>
                        <input name="filtercommon" type="checkbox" class="" ng-model="IsOnlyEX" ng-change="">Действующие
                    </label>
                </div>
                <div class="col-md-8 padding3">
                    shift+v - вставить ManufacturerClearValue;
                    shift+z - Очистить;
                    shift+x - Cвязки не будет;
                    клик по РУ - выбор из Классификатора;
                    ДвойнойКлик по классфикатору - простановка Paker
                </div>
            </div>
        </div>
    </div>
    <size_main>
        <div class="size_content">
            <div class="size_row" resizable r-directions="['bottom']" r-flex="true">
                <div id="drug-grid-block" cg-busy="drugLoading" class="auto-item-panel" style="width:100%">
                    <ui-grid-control options="Grid_MnfWay.Options" class="ui-grid-enable-content-selection"></ui-grid-control>
                </div>
            </div>
            <div class="size_row">
                <div style="width:100%">
                    <div id="classifier-grid-block" cg-busy="classifierLoading" class="auto-item-panel" style="width:100%">
                        <ui-grid-control options="Grid_Classifier.Options" class="ui-grid-enable-content-selection"></ui-grid-control>
                    </div>
                </div>
            </div>
        </div>
    </size_main>

</div>
