<div class="modal-header">
    <h3 class="modal-title">Помощь</h3>
</div>
<div class="modal-body">

    <span>
        <ol>
            <li>При поиске по классификатору результат ограничен 200 записями из классификатора</li>
            <li>Для очистки фильтрации по исходным данным нужно сделать повторную фильтрацию</li>
        </ol>
    </span>

    <h3>Горячие клавиши</h3>
    <div class="container-fluid">
        <div class="well well-sm">
            <h5>Поиск</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>F</kbd></kbd>
            </div>
            <div class="col-md-9">Поиск выделенного фрагмента в классификаторе по полям МНН или Торговое наименование</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>D</kbd></kbd>
            </div>
            <div class="col-md-9">Поиск выделенного фрагмента в исходных данных</div>
        </div>

        <div class="well well-sm">
            <h5>Выделенные строки исходных данных</h5>
        </div>

        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>C</kbd></kbd>
            </div>
            <div class="col-md-9">Отправить на проверку</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>Z</kbd></kbd>
            </div>
            <div class="col-md-9">Отправить на заведение</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>X</kbd></kbd>
            </div>
            <div class="col-md-9">Отправить в ДОП</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>V</kbd></kbd>
            </div>
            <div class="col-md-9">Отвязать данные</div>
        </div>

        <div class="well well-sm">
            <h5>Выделенная строка исходных данных</h5>
        </div>

        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>W</kbd></kbd>
            </div>
            <div class="col-md-9">Указать акцию</div>
        </div>

        <div class="well well-sm">
            <h5>Не полная классификация (Указывается в поле Акция с особой разметкой)</h5>
        </div>

        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>0</kbd></kbd>
            </div>
            <div class="col-md-9">Полная форма (по умолчанию)</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>1</kbd></kbd>
            </div>
            <div class="col-md-9">ТН</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>5</kbd></kbd>
            </div>
            <div class="col-md-9">Бренд</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>2</kbd></kbd>
            </div>
            <div class="col-md-9">ТН+ФВ</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>3</kbd></kbd>
            </div>
            <div class="col-md-9">ТН+ФВ+Доз</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <kbd><kbd>shift</kbd> + <kbd>4</kbd></kbd>
            </div>
            <div class="col-md-9">МНН+ФВ</div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()" data-translate="BUTTONS.CLOSE"></button>
</div>