<div ng-controller="ClientsController" cg-busy="dataLoading" ng-init="WorkersInit();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    <script type="text/ng-template" id="_rowGridTemplate.html">
        <div>
            <div class="ui-grid-cell"
                 ng-class=" {selected : row.isSelected, yellow: !row.isSelected}"
                 ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name"
                 ui-grid-cell>
            </div>
        </div>
    </script>
    <style>
        .modify {
            color: red;
        }
    </style>
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
        </div>
    </div>

    <div id="grid-block" class="auto-item-panel">
        <ui-grid-control options="Grid_Reports.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>
</div>

