<!--<label ng-hide="apLabel === ''" data-translate="{{apLabel}}"></label>
<div class="input-group">-->
<!--НЕ ИСПОЛЬЗУЕТСЯ-->
    <input type="text"
           class="form-control"
           style="padding:2px"
           uib-datepicker-popup="{{format}}"
           placeholder="{{placeholder | translate}}"
           ng-model-options="{ timezone: 'UTC' }"
           ng-model="value"
           is-open="param.Opened"
           datepicker-options="param.DateOptions"
           ng-disabled="ngDisabled" />
    <!--<span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="param.Opened = !param.Opened"
                ng-disabled="ngDisabled">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>-->