<style type="text/css">
    div.row {
        border: 1px dotted;
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>

<div class="row">
    <div class="col-md-5">
        <button style="width: 100%" class="btn"
                ng-class="{'btn-success' : StatusId==10,'btn-danger' : StatusId==0,'btn-primary' : StatusId==1,'btn-warning' : StatusId===3,'btn-info' : StatusId==-1}" 
                type="button"
                ng-click="Go(1);">
            {{jobTitle}}
        </button>
        <!--<label ng-if="StatusId==10">Текущий статус: </label>-->
    </div>
    <div class="col-md-5">
        <p ng-bind-html="sce.trustAsHtml(Status)"></p>
    </div>
</div>