<div ng-controller="ObjectsToObjectsReadyController" cg-busy="loadingDictionary" ng-cloak class="auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">
    
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
            <div class="row ">
                <div class="col-md-2">
                    <div class="input-group" popover-placement="right" uib-popover="С" popover-trigger="'mouseenter'" popover-append-to-body="true">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="filter.dateStart.Value"
                               is-open="filter.dateStart.Opened" max-date="filter.dateEnd.Value" ng-required="true" placeholder="ГГГГ-ММ-ДД" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="filter.dateStart.Open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group" popover-placement="right" uib-popover="По" popover-trigger="'mouseenter'" popover-append-to-body="true">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="filter.dateEnd.Value"
                               is-open="filter.dateEnd.Opened" min-date="filter.dateStart.Value" init-date="now" ng-required="true" placeholder="ГГГГ-ММ-ДД" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="filter.dateEnd.Open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            <input type="checkbox" class="form-inline" ng-model="filter.transferObjects" /> Закупки
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            <input type="checkbox" class="form-inline" ng-model="filter.transferContracts" /> Контракты
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <button class="btn btn-success" type="button" ng-click="filter.startTransfer()" popover-placement="right" uib-popover="Запустить перенос данных" popover-trigger="'mouseenter'" popover-append-to-body="true">Запустить перенос</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning" type="button" ng-click="loadLogs()" popover-placement="right" uib-popover="Обновить таблицу логов" popover-trigger="'mouseenter'" popover-append-to-body="true"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="auto-item-panel">
        <ui-grid-control options="logs.Options" class="ui-grid-enable-content-selection"></ui-grid-control>
    </div>
</div>