<div class="modal-header">
    <h3 class="modal-title">К какому ЛПУ привязывать?</h3>
</div>
<div class="modal-body">
    <div class="container-fluid" style="height: 400px;" title="Выберите, к какой организации привязывать?">
        <ui-grid-control options="LPUToMergeGrid.Options" class="ui-grid-enable-content-selection"></ui-grid-control>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="LPUToMergeGrid.selectedRows() === 'undefined' || LPUToMergeGrid.selectedRows().length === 0" data-translate="BUTTONS.OK"></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" data-translate="BUTTONS.CANCEL"></button>
    </div>
</div>


