<div class="panel panel-primary context-menu" style="width: 500px;">
    <div class="panel-heading">
        <h3 class="panel-title">Действия<span class="badge">{{selectedCount}}</span></h3>
    </div>
    <div class="panel-body">
        <div class="row padding1">
            <div class="col-md-3 padding1">
                <label>DDD отметка о проверке</label>
            </div>
            <div class="col-md-9 padding1">
                <div class="input-group ">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn_ok" ng-click="DDD_Chek(false);">Очистить</button>
                        <button type="button" class="btn btn-default btn_ok" ng-click="DDD_Chek(true);">Проверено</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding1">
            <div class="col-md-3 padding1">
                <label>Формулы</label>
            </div>
            <div class="col-md-9 padding1">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-warning btn_ok" ng-click="DDD_FormulasSet('=');">Пересчитать</button>
                    <button type="button" class="btn btn-danger btn_ok" ng-click="DDD_FormulasSet('');">Сбросить</button>
                    <button type="button" class="btn btn-info btn_ok" ng-click="open_formula();">Редактор</button>
                    <button type="button" class="btn btn-danger btn_ok" ng-click="DDD_FormulasSet('Неприменимо');">Неприменимо</button>
                    <button ng-repeat="item in DDD_Formulas" type="button" class="btn btn-primary btn-xs" ng-click="DDD_FormulasSet(item.DDD_Formula)" data-translate="{{item.DDD_Formula}}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
