<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style>
        .context-menu-body .context-menu button {
            width: 110px;
        }

        .context-menu-body .row > div {
            height: 40px;
        }

        .context-menu-body .row label {
            margin-top: 7px;
        }

        .context-menu-body .contextMenu {
            position: absolute;
            list-style-type: none;
            z-index: 1000;
            background-color: white;
        }
    </style>

</head>
<body>
    <div style="z-index: 1;" class="context-menu-body">
        <div class="panel panel-primary context-menu" style="width: 420px">
            <div class="panel-heading">
                <h3 class="panel-title">Меню <span class="badge">{{getSelectedCount()}}</span></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>На заведение</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="forAdding(true)" data-translate="YES"></button>
                                <button type="button" class="btn btn-default" ng-click="forAdding(false)" data-translate="BUTTONS.DISCARD"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Отвязать</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger" ng-click="clearGoodsId()" data-translate="YES"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
