<div cg-busy="dataLoading">
    <div class="modal-header">
        <h3 class="modal-title">Фильтр {{reestr_line__header}}</h3>
    </div>

        <div class="panel-body">
            <!--<ui-grid-control options="Grid.Options" class="ui-grid-enable-content-selection myGrid"></ui-grid-control>-->
            <!--<ui-grid-control options="reestr_line_Grid.Options" class="ui-grid-enable-content-selection"></ui-grid-control>-->
            <ui-grid-control options="reestr_line_Grid.Options" class="ui-grid-header-wrap-text"></ui-grid-control>
        </div>

    <div class="modal-footer">
        <div>
            <button class="btn btn-primary" type="button" ng-click="save();" data-translate="Сохранить"></button>
            <button class="btn btn-warning" type="button" ng-click="cancel();" data-translate="Отмена"></button>
        </div>
    </div>
</div>