
<div style="z-index: 1;width: 550px;" class="context-menu-body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Действия<span class="badge">{{selectedCount}}</span></h3>
        </div>
        <div class="panel-body">
            <div class="row padding1" ng-show="IsGSwork">
                <div class="col-md-3 padding1">
                    <label>Исключения</label>
                </div>
                <div class="col-md-9 padding1">
                    <div class="input-group ">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-click="Blocked_DelData('');">Удалить</button>                          

                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>