<div class="panel panel-primary context-menu" style="width: 500px;">
    <div class="panel-heading">
        <h3 class="panel-title">Действия<span class="badge">{{selectedCount}}</span></h3>
    </div>
    <div class="panel-body">
        <div class="row padding1">
            <div class="col-md-3 padding1">
                <label>Проверено</label>
            </div>
            <div class="col-md-9 padding1">
                <div class="input-group ">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" ng-click="Point_ColumnCheck_Set();">Да</button>
                        <button type="button" class="btn btn-danger" ng-click="Point_ColumnCheck_UnSet();">Нет</button>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
