<div ng-controller="GSController" cg-busy="dataLoading" ng-init="Point_Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    <style>
        .Red {
            background-color: red;
        }

        .AlphaBitSums {
            background-color: green;
        }

        .OFDSums {
            background-color: orange;
        }

        .Yellow {
            background-color: yellow;
        }

        .Green {
            background-color: green;
        }

        .LightCyan {
            background-color: lightcyan;
        }

        .PapayaWhip {
            background-color: papayawhip;
        }

        .PeachPuff {
            background-color: peachpuff;
        }

        .PaleGoldenrod {
            background-color: palegoldenrod;
        }

        .NavajoWhite {
            background-color: navajowhite;
        }

        .row_1 {
            background-color: navajowhite;
        }

        .row_2 {
            background-color: palegoldenrod;
        }

        .row_total {
            background-color: lightcyan;
        }
    </style>
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading padding1">
            <div class="row">
                <div class="col-md-2 padding3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success btn-sm" ng-click="Point_Search();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                        <button type="button" class="btn btn-warning btn-sm" ng-disabled="!Grid.NeedSave" ng-click="Point_Save();"><span class="glyphicon glyphicon-floppy-disk">Сохранить</span></button>
                    </div>
                </div>
                <div class="col-md-1 padding3">
                    <label>
                        <input name="IsNoKoord" type="checkbox" class="" ng-model="IsNoKoord" ng-change="">Нет координат
                    </label>
                </div>
                <div class="col-md-3 padding3">
                    <input name="filtercommon" type="text" class="form-control" ng-model="PHids" ng-change="" placeholder="Список Pharmacy Id" id="filtercommon">
                </div>
            </div>
        </div>
    </div>

    <div id="grid-block" class="auto-item-panel">
        <ui-grid-control options="Grid.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>
</div>
