<div ng-controller="OFDController" cg-busy="dataLoading" ng-init="D4SS_Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    <style>
        .modify {
            color: red;
        }

        .AlphaBitSums {
            background-color: green;
        }

        .Fix {
            background-color: yellow;
        }

        .ОФД {
            background-color: orange;
        }

        .Red {
            background-color: red;
        }

        .Yellow {
            background-color: yellow;
        }

        .Green {
            background-color: green;
        }

        .LightCyan {
            background-color: lightcyan;
        }

        .PapayaWhip {
            background-color: papayawhip;
        }

        .PeachPuff {
            background-color: peachpuff;
        }

        .PaleGoldenrod {
            background-color: palegoldenrod;
        }

        .NavajoWhite {
            background-color: navajowhite;
        }
    </style>
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading padding1">
            <div class="row">
                <div class="col-md-7 padding3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-success btn-sm" ng-click="D4SS_search();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                        <button class="btn btn-warning btn-sm" ng-click="D4SS_save();" ng-disabled="!Grid_D4SS.NeedSave"><span class="glyphicon glyphicon-save">Сохранить</span></button>
                        <div class="btn btn-info btn-sm" ngf-select="D4SS_FromExcel($files)" multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"><span class="glyphicon glyphicon-upload">Загрузить Excel</span></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="grid-block" class="auto-item-panel">
        <ui-grid-control options="Grid_D4SS.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>
</div>
