<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://S-OP1:8099</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://S-OP1:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>DataAggregatorWebBeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>GK/y.efremova</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataAggregator.Domain.DAL.DataAnalyzerContext" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataAnalyzerContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.DataLoaderContext" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataLoaderContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataReportContext" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataReportContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DistrContext" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DistrContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EcomContext" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.EcomContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GoodsDataContext" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GoodsDataContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.ExternalDataRetailContext" Order="22" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.ExternalDataRetailContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GovernmentPurchasesContext" Order="23" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GovernmentPurchasesContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GovernmentPurchasesLoaderContext" Order="24" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GovernmentPurchasesLoaderContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregatorContext" Order="25" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataAggregatorContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.GrlsContext" Order="26" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GrlsContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GSContext" Order="27" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GSContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OFDContext" Order="28" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.OFDContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QlikExportContext" Order="29" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.QlikExportContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RetailCalculationContext" Order="30" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.RetailCalculationContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.RetailTransitContext" Order="31" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.RetailTransitContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RetailContext" Order="32" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.RetailContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.FtpPoisklekarstvContext" Order="33" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.FtpPoisklekarstvContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DrugClassifierContext" Order="34" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DrugClassifierContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Membership" Order="35" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=alph-r01-s-db02;Initial Catalog=DataAggregator;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Membership_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=alph-r01-s-db02;Database=DataAggregator;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DataAnalyzerContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DataLoaderContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.ExternalDataRetailContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.FtpPoisklekarstvContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.GrlsContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.RetailTransitContext-Web.config Connection String" />
    <MSDeployParameterValue Include="RetailContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RetailCalculationContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QlikExportContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OFDContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Membership-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GovernmentPurchasesLoaderContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GovernmentPurchasesContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoodsDataContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EcomContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DrugClassifierContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DistrContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataReportContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataAggregatorContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DataAnalyzerContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DataLoaderContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.ExternalDataRetailContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.FtpPoisklekarstvContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.GrlsContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.RetailTransitContext" />
  </ItemGroup>
</Project>