<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>DebugOnProductDB</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://s-op1:8099</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://S-OP1:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>DataAggregatorWebBeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>GK/k.derepaskin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataAggregator.Domain.DAL.DataAnalyzerContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataAnalyzerContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.DataLoaderContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataLoaderContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GoodsDataContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GoodsDataContext, DataAggregator.Domain" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.ExternalDataRetailContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.ExternalDataRetailContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GovernmentPurchasesContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GovernmentPurchasesContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GovernmentPurchasesLoaderContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GovernmentPurchasesLoaderContext, DataAggregator.Domain" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregatorContext" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataAggregatorContext, DataAggregator.Domain" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.GrlsContext" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GrlsContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QlikExportContext" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.QlikExportContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.RetailTransitContext" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.RetailTransitContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RetailContext" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.RetailContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.FtpPoisklekarstvContext" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.FtpPoisklekarstvContext, DataAggregator.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DrugClassifierContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DrugClassifierContext, DataAggregator.Domain" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GSContext" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.GSContext, DataAggregator.Domain" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OFDContext" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=s-sql4;Initial Catalog=OFD_data;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OFDContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=s-sql4;Database=OFD_data;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataReportContext" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=s-sql1;Initial Catalog=DataReport;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataReportContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=s-sql1;Database=DataReport;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DistrContext" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=s-sql2;Initial Catalog=Distr;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DistrContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=s-sql2;Database=Distr;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Membership" Order="22" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Web.ApplicationDbContext, DataAggregator.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.DataReportContext" Order="23" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DataReportContext, DataAggregator.Domain" />
          </Object>
        </ObjectGroup>
        <!--<ObjectGroup Name="DataAggregator.Domain.DAL.DistrContext" Order="24" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DistrContext, DataAggregator.Domain" />
          </Object>
        </ObjectGroup>-->
        <!--<ObjectGroup Name="DataAggregator.Domain.DAL.OFDContext" Order="25" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.OFDContext, DataAggregator.Domain" />
          </Object>
        </ObjectGroup>-->
        <ObjectGroup Name="RetailCalculationContext" Order="26" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.RetailCalculationContext, DataAggregator.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.DistrContext" Order="27" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.DistrContext, DataAggregator.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EcomContext" Order="28" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.EcomContext, DataAggregator.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAggregator.Domain.DAL.OFDContext" Order="29" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAggregator.Domain.DAL.OFDContext, DataAggregator.Domain" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DataAnalyzerContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DataLoaderContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DataReportContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DistrContext-Web.config Connection String" />
    <!--<MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.DistrContext-Web.config Connection String" />-->
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.ExternalDataRetailContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.FtpPoisklekarstvContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.GrlsContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.OFDContext-Web.config Connection String" />
    <!--<MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.OFDContext-Web.config Connection String" />-->
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAggregator.Domain.DAL.RetailTransitContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RetailCalculationContext-Web.config Connection String" />
    <MSDeployParameterValue Include="DataAggregatorContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DistrContext-Web.config Connection String" />
    <MSDeployParameterValue Include="OFDContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataReportContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DrugClassifierContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoodsDataContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GovernmentPurchasesContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GovernmentPurchasesLoaderContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Membership-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QlikExportContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RetailContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DataAnalyzerContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DataLoaderContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DataReportContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DistrContext" />
    <!--<_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.DistrContext" />-->
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.ExternalDataRetailContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.FtpPoisklekarstvContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.GrlsContext" />
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.OFDContext" />
    <!--<_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.OFDContext" />-->
    <_ConnectionStringsToInsert Include="DataAggregator.Domain.DAL.RetailTransitContext" />
  </ItemGroup>
</Project>