<div ng-controller="ClassifierRxOtcController" cg-busy="classifierLoading" ng-init="ClassifierRxOtc_Init();" ng-cloak class="auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">

    <script type="text/ng-template" id="_icon.html">
        <div>
            <img src="/Content/Icons/IsOther.png" class="img-rounded" ng-show="!row.entity.Used" />
        </div>
    </script>

    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">

            <div class="row">

                <div class="col-md-6 col-lg-6 padding3">
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm" style="width: 100%;" ng-click="ClassifierRxOtc_Search();" ng-disabled="!canSearch()"><span class="glyphicon glyphicon-refresh"> Обновить</span> </button>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-warning btn-sm" style="width: 100%;" ng-click="ClassifierRxOtc_Save();" ng-disabled="!RxOtcGrid.NeedSave"><span class="glyphicon glyphicon-save"> Сохранить</span></button>
                    </div>

                    <div class="col-md-1">
                        Все <input type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="filter.Used" />
                    </div>

                    <div class="col-md-2">
                        Исключённые <input type="checkbox" ng-model="filter.Excluded" />
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="grid-block" class="auto-item-panel" data-context-menu="Views/Classifier/ClassifierRxOtc/ClassifierRxOtc_context_menu.html">
        <ui-grid-control options="RxOtcGrid.Options" class="ui-grid-enable-content-selection grid-block grid-block_md"></ui-grid-control>
    </div>

</div>
