<div class="modal-header">
    <h3 class="modal-title">{{headerText}}</h3>
</div>
<div class="modal-body modal-body-big classifier-editor">


    <div class="row" style="padding: 10px;">
        <div class="col-md-3">
            <b>Внесенные изменения</b>
        </div>

        <div class="col-md-4">
            <b>Старое значение</b>
        </div>
        <div class="col-md-4">
            <b>Новое значение</b>
        </div>
    </div>

    <div class="row" ng-repeat="item in info.Items">
        <div class="col-md-3">
            <label>{{item.Title}}</label>
        </div>

        <div class="col-md-4">
            <textarea type="text" ng-model="item.OldText" class="form-control" readonly> </textarea>
        </div>
        <div class="col-md-4">
            <textarea type="text" ng-model="item.NewText" class="form-control" readonly> </textarea>
        </div>

    </div>

    <div ng-show="{{info.RealPackingCount.length > 0}}">

        <div>
            <b>Реальные упаковки:</b>
        </div>
        <div class="row" ng-repeat="item in info.RealPackingCount">
            <div class="col-md-6">
                <textarea type="text" ng-model="item.OldText" class="form-control" readonly> </textarea>
            </div>
            <div class="col-md-6">
                <textarea type="text" ng-model="item.NewText" class="form-control" readonly> </textarea>
            </div>
        </div>
    </div>

    <div ng-show="{{info.ClassifierPacking.length > 0}}">

        <div>
            <b>Упаковки:</b>
        </div>

        <div class="row" ng-repeat="item in info.ClassifierPacking">

            <div class="col-md-6">
                <textarea type="text" ng-model="item.OldText" class="form-control" readonly> </textarea>
            </div>
            <div class="col-md-6">
                <textarea type="text" ng-model="item.NewText" class="form-control" readonly> </textarea>
            </div>
        </div>

    </div>

    <div ng-show="{{info.RegistrationCertificate.length > 0}}">

        <div>
            <b>Регистрационные сертификаты:</b>
        </div>

        <div class="row" ng-repeat="item in info.RegistrationCertificate">

            <div class="col-md-6">
                <textarea type="text" ng-model="item.OldText" class="form-control" readonly> </textarea>
            </div>
            <div class="col-md-6">
                <textarea type="text" ng-model="item.NewText" class="form-control" readonly> </textarea>
            </div>
        </div>

    </div>



    

    <div ng-show="{{info.RegistrationCertificateIsBlocked.length > 0}}">

        <div>
            <b>Блокировка регистрационного сертификата:</b>
        </div>

        <div class="row" ng-repeat="item in info.RegistrationCertificateIsBlocked">

            <div class="col-md-6">
                <textarea type="text" ng-model="item.OldText" class="form-control" readonly> </textarea>
            </div>
            <div class="col-md-6">
                <textarea type="text" ng-model="item.NewText" class="form-control" readonly> </textarea>
            </div>
        </div>

    </div>

    <div ng-show="{{info.ChangeUse.length > 0}}">

        <div>
            <b>Блокировка:</b>
        </div>

        <div class="row" ng-repeat="item in info.ChangeUse">

            <div class="col-md-6">
                <textarea type="text" ng-model="item.OldText" class="form-control" readonly> </textarea>
            </div>
            <div class="col-md-6">
                <textarea type="text" ng-model="item.NewText" class="form-control" readonly> </textarea>
            </div>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()" ng-if="canCancel" data-translate="BUTTONS.CANCEL"></button>
    <button class="btn btn-success" type="button" ng-click="ok()" data-translate="BUTTONS.CHANGE"></button>
</div>