<div class="modal-header">
    <p class="modal-title">Введите наименование группы</p>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <textarea type="text" ng-model="name" class="form-control"> </textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="save()" data-translate="BUTTONS.SAVE"></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" data-translate="BUTTONS.CANCEL"></button>
</div>