<div ng-controller="GZController" cg-busy="dataLoading" ng-init="AutoNature_Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading padding1">
            <div class="row">
                <div class="col-md-3 padding3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-success btn-sm" ng-click="AutoNature_search();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                        <button class="btn btn-warning btn-sm" ng-click="AutoNature_save();" ng-disabled="!Grid_AutoNature.NeedSave"><span class="glyphicon glyphicon-save">Сохранить</span></button>
                    </div>
                </div>
                <div class="col-md-5 padding3">
                </div>
            </div>
        </div>
    </div>
    <div id="grid-block" class="auto-item-panel" data-context-menu="_contextMenu.html">
        <ui-grid-control options="Grid_AutoNature.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>
    <script type="text/ng-template" id="_contextMenu.html">
<div class="panel panel-primary context-menu" style="width: 800px;">
    <div class="panel-heading">
        <h3 class="panel-title">Действия<span class="badge">{{selectedCount}}</span></h3>
    </div>
    <div class="panel-body">
        <div class="row padding1">
            <div class="col-md-3 padding1">
                <label>Комманды</label>
            </div>
            <div class="col-md-9 padding1">
        <button type="button" class="btn btn-default btn_ok btn-xs" ng-click="AutoNature_Add();">Добавить</button>
        <button type="button" class="btn btn-default btn_ok btn-xs" ng-click="AutoNature_Delete();">Удалить</button>
                <button type="button" class="btn btn-default btn_ok btn-xs" ng-click="AutoNature_NatureSet(null);">Убрать Характер</button>
                <button type="button" class="btn btn-default btn_ok btn-xs" ng-click="AutoNature_Nature_L2Set(null);">Убрать ПодХарактер</button>
                <button type="button" class="btn btn-default btn_ok btn-xs" ng-click="AutoNature_FundingSet(null);">Убрать Финансирование</button>
            </div>
<div class="row padding1">
            <div class="col-md-3 padding1">
                <label>Характер</label>
            </div>
            <div class="col-md-9 padding1">
                <ul class="no-padding" style="list-style-type:none">
                    <li ng-repeat="cat in Category | orderBy:'Name'" class="no-padding">
                        <label class="label_category">{{cat.Name}}</label>

                        <div class="btn-group btn-group-xs">
                <button ng-repeat="nat in Nature | filter:cat.Name | orderBy:'Name'" type="button" class="btn btn-primary btn-xs"
                        ng-click="AutoNature_NatureSet(nat.Id)" data-translate="{{nat.NameMini}}">{{nat.NameMini}}</button>
            </div>
                    </li>
                </ul>
            </div>
 </div>

        <div class="row padding1">
            <div class="col-md-3 padding1">
                <label>Финансирование</label>
            </div>
            <div class="col-md-9 padding1">
                        <div class="btn-group btn-group-xs">
                <button ng-repeat="item in Funding | orderBy:'Name'" type="button" class="btn btn-primary btn-xs"
                        ng-click="AutoNature_FundingSet(item.Id)" data-translate="{{item.Name}}"></button>
            </div>
            </div>
 </div>

        </div>
    </div>
</div>

    </script>
</div>
