<div ng-controller="BudjetController" cg-busy="dataLoading" ng-init="Budjet_Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading padding1">
            <div class="row">
                <div class="col-md-5 padding3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-success btn-sm" ng-click="Budjet_search();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                        <button class="btn btn-warning btn-sm" ng-click="Budjet_save();" ng-disabled="!NeedSave()"><span class="glyphicon glyphicon-save">Сохранить</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-item-panel">
        {{user}}
    </div>
</div>
