<div ng-controller="RulesCommitController" cg-busy="dataLoading" ng-init="RulesCommit_Init();" ng-cloak class="auto-grid-parent" ng-style="{'padding-top': topPartSize.height}">
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="row form-group">
            <div class="col-md-2">
                <date-period period="filter.PeriodFrom" ng-required="true" ap-label="Период с"></date-period>
            </div>
            <div class="col-md-2">
                <date-period period="filter.PeriodTo" ng-required="true" ap-label="Период по"></date-period>
            </div>
            <div class="col-md-8">
                <br />
                <button type="button" class="btn btn-info" ng-disabled="filter.PeriodFrom == null || filter.PeriodTo == null" ng-click="History_search();"><span class="glyphicon glyphicon-search">&nbsp;История</span></button>
                <button type="button" class="btn btn-success" ng-click="runProcess()" ng-disabled="filter.PeriodFrom == null || filter.PeriodTo == null || isRunning" data-translate="RETAIL.RETAIL_CALCULATION.START_ACTION"></button>
            </div>
        </div>
    </div>


    <div id="grid-block" class="auto-item-panel">
        <ui-grid-control options="RulesCommitHistory_Grid.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>

</div>

