<div ng-controller="GlobalController" cg-busy="dataLoading" ng-init="Init();" ng-cloak class="auto-grid-parent base" ng-style="{'padding-top': topPartSize.height}">
    <script type="text/ng-template" id="_rowGridTemplate.html">
        <div>
            <div class="ui-grid-cell"
                 ng-class=" {selected : row.isSelected, yellow: !row.isSelected}"
                 ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name"
                 ui-grid-cell>
            </div>
        </div>
    </script>
    <style>
        .modify {
            color: red;
        }
        .IsEdit {
            background-color: lightyellow;
        }
        .Edit_string {
            width:150px;
        }
    </style>
    
    <div class="panel panel-default auto-item-top-part" auto-size-saver="topPartSize">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3 padding3" ng-disabled="IsActivReport">
                    <button class="btn btn-success btn-sm" ng-click="Search();"><span class="glyphicon glyphicon-search">Выбрать</span></button>
                    <button class="btn btn-success btn-sm" ng-click="SearchExcel();"><span class="glyphicon glyphicon-search">Excel(XLSX)</span></button>
                    <button class="btn btn-warning btn-sm" ng-click="Save();" ng-disabled="!NeedSave"><span class="glyphicon glyphicon-save">Сохранить</span></button>
                </div>
                <div id="divfilters" class="col-md-7 padding3">
                    <div class="row">
                        <div ng-repeat="item in Filters" class="Edit_string col-md-2 padding3">
                            <div ng-if="item.sType=='bool'">
                                <label>
                                    <input name="item.Name" type="checkbox" ng-model="item.Value" ng-change="">
                                    {{item.DisplayName}}
                                </label>
                            </div>
                            <div ng-if="item.sType=='string'">
                                <input name="item.Name" style="width:150px;display:inline" type="text" class="form-control" ng-model="item.Value" ng-change="" placeholder="{{item.DisplayName}}">
                            </div>
                            <div ng-if="item.sType=='date'">
                                <label>{{item.DisplayName}}</label>
                                <p class="input-group ap-required">
                                    <input style="width:100px;display:inline"
                                           class="form-control"
                                           type="text"
                                           name="item.Name"
                                           ng-change="setDate(item,$event)"
                                           ng-model-options="{ timezone: 'UTC' }"
                                           uib-datepicker-popup="{{format}}"
                                           on-open-focus="true"
                                           ng-model="item.ValueDT.Value"
                                           is-open="item.ValueDT.Opened"
                                           placeholder="{{item.DisplayName}}"
                                           datepicker-options="{minMode: 'day', showWeeks: false }"
                                           datepicker-mode="'day'" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="item.ValueDT.Open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divcmds" class="col-md-2 padding3">
                    <span ng-repeat="item in CMD">
                        <button class="btn btn-info btn-sm" ng-click="GCommand(item);"><span>{{item.DisplayName}}</span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="grid-block" class="auto-item-panel">
        <ui-grid-control options="Grid.Options" class="ui-grid-enable-content-selection grid-block grid-block_sm"></ui-grid-control>
    </div>
</div>

